# Hugo
/public/
/resources/_gen/
.hugo_build.lock

# Node
node_modules/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Tina
.tina/__generated__/

# Environment variables
.env
.env.local

# data
/data/